<table id='<%=viewModel.id%>' class="<%=viewModel.tableClasses%>">

  <tr class="trow">

    <% viewModel.columns.forEach( function(col, key){ %>


      <th class="thead sortable <%=view.thClasses%>" data-name="<%=col.name%>" id="<%=col.name%>">
        <%=col.label%>
          <span id="<%=col.name%>-asc" class="bi-arrow-up" aria-hidden="true" style="display:none"></span>
          <span id="<%=col.name%>-desc" class="bi-arrow-down" aria-hidden="true" style="display:none"></span>
      </th>
      <% }) %>

        <th class="thead <%=viewModel.thClasses%>"> Actions </th>
  </tr>

  <% for (item of data) {%>
    <tr data-toggle="popover" data-bs-trigger="hover" title="<%=item.name%>" data-bs-content="<ul class='list-group list-group-light'> 
      <%if (item[viewModel.logoCol]){%>
      <li class='list-group-item'>
          <img src='<%=item[viewModel.logoCol]%>' class='img-thumbnail'/>
      </li>
      <%}%>
      <% view.columns.forEach( function(col, key){  %>
      <li class='list-group-item'><%=col.label%>: <%=item[col.name]%></li> 
      <% }) %>
    </ul>" data-bs-html="true">

      <% viewModel.columns.forEach( function(col, key){ %>
        <td>
          <%=item[col.name]%>
        </td>

        <% }) %>

          <td><span class=" bi-trash" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="<%=item.id%>"
              data-name="<%=item.name%>"></span>
            <span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
            <span class="bi-pencil-square" data-bs-toggle="modal" data-bs-target="#formModal"
              id="edit-<%=item.id%>"></span>
          </td>
    </tr>

    <% } %>
</table>